<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TFS.Security.Properties.Settings.ActiveDirectoryConnString"
            connectionString="LDAP://DC=tfs2,DC=local" />
    </connectionStrings>
</configuration>