<?xml version="1.0"?>

<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="UserManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Designer.aspx">
    <system.web>
      <authorization>
        <allow roles="UserManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Editor.aspx">
    <system.web>
      <authorization>
        <allow roles="UserManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FileList.aspx">
    <system.web>
      <authorization>
        <allow roles="UserManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FileView.aspx">
    <system.web>
      <authorization>
        <allow roles="UserManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
