.list-table
{
	width: 100%;
	background: #FFFDE5;
	border-collapse: collapse;
	border: 2px solid #d3d9ce;
	margin-bottom: 1em;
}

.centered-table
{
	text-align :center;
}

.list-table thead
{
	text-align: left;
}

.list-table th
{
	text-align: left;
}

.list-table thead tr:hover
{
	background: #FFFDE5;
}

.list-table tr
{
}

.list-table tr:hover
{
	background-color: #e2fce2;
}

.list-table th
{
	border: 2px solid #d3d9ce;
}

a.sorted-up
{
	background: url(icons/sort_up.gif) right no-repeat;
	padding-right: 10px;
}
a.sorted-down
{
	background: url(icons/sort_down.gif) right no-repeat;
	padding-right: 10px;
}

.list-table td, .list-table th
{
	border-bottom: 2px solid #d3d9ce;
	border-left: 0px solid #d3d9ce;
	border-right: 0px solid #d3d9ce;
	padding: 3px;
	border-collapse: collapse;
}

.list-table .spanner
{
	color: #525282;
	font-weight: bold;
}

.list-table .options
{
	text-align: left;
}

.list-table .options img
{
	margin-left: 5px;
}

.list-table .options input
{
	margin-left: 5px;
}

.list-table .byline
{
	font-size: .9em;
	font-weight: normal;
	font-style: italic;
}

.list-table-pager
{
	font-size:1em;
	text-align:right;
	padding-bottom: 5px;
}

.list-table-pager span
{
	display:inline-block;
}

.list-table-pager select
{
	margin-top: 1em;
	font-size:1em;
}