.content {
	padding-top: 12px;
	margin-left: 240px;
	
	.warning {
		color: red;
	}
	
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	a {
		color: #734D26;
		
		:hover {
			color: #CC6600;
		}
	}
	
	acronym {
		text-decoration: underline;
	}
	
	p, cite, code, ul, table {
		font-size: 1.2em;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	ol, ul {
		list-style-type: circle;
	}
	
	li {
	    margin-left: 18px;
	}
	
	code {
		margin-bottom: 12px;
		padding: 8px 10px;
		background: #FFE;
		border: 1px solid #EED;
		border-left: 6px solid #938262;
		color: #554;
		display: block;
		font-size: 1.1em;
		white-space: pre;
	}
	
	blockquote
	{
		display: block;
		padding-left: 28px;
		background: url(template/quote.gif) no-repeat;
		color: #666;
		font-size: 1.3em;
	}
	
	.header-main {
	    margin-top: 12px;
	    margin-bottom: 10px;
		font-size: 1.4em;
		font-weight: bold;
	}
	
	.header-sub {
	    margin-top: 7px;
	    font-size: 1.3em;
	    font-weight: bold;
	}
	
	.urgent {
		color: red;
		font-weight: bold;
	}
	
	h1 {
		font-size: 1.4em;
	}
	
	h2 {
		font-size: 1.3em;
	}
	
	h3 {
		font-size: 1.2em;
	}
	
	h4 {
		font-size: 1.1em;
	}
}