.standard-form
{
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
}

.standard-form label
{
	display: block;
	font-weight: bold;
	padding-bottom: .2em;
}

.standard-form input
{
	display: block;
}

.standard-form input[type="checkbox"]
{
	display: inline;
}

.standard-form img
{
	vertical-align: bottom;
}

.standard-form div
{
	display: block;
	padding: 5px 0px 5px 0px;
}

.standard-form .field-group
{
	display: block;
}

.standard-form .field
{
	vertical-align: top;
	display: inline-block;
}

.standard-form .button-group
{
	margin-top: 10px;
}

.standard-form .button-group input
{
	display: inline;
	font-size: 1em;
}

.standard-form .field-validation-error
{
	color: Red;
}

.standard-form .inline
{
	display: inherit;
}
