#ButtomUpdateProgress
{
	width: 400px;
	background-color: #FFC080;
	bottom: 0%;
	left: 0px;
	position: absolute;
}


/*Hover Menu*/
.popupMenu {
	position:absolute;
	visibility:hidden;
	background-color:#F5F7F8;
	opacity:.9;
	filter: alpha(opacity=90);
	font-size: small;
}

.popupHover {	
	background-color:#D2DBE0;
}

