.calendarTable {
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;

}

.dayName {
	color: #ffffff;
	background-color: #7777aa;
	
	border: 1px solid #7777aa;

	font-size: 10pt;
}

.dayCell {
	width: 100px;
	height: 100px;
	
	margin: 0px 0px 0px 0px;
	
	border: 1px solid #7777aa;
	
	background-color: #ffffff;
	
	vertical-align: top;
	text-align: left;
}

.dayCell a {
	color: #7777aa;
}

.dayCell a:hover {
	color: #ff0000;
}

.busyCell {
	color: #ffffff;
	background-color: #b6b6f2;
}

.busyCell a {
	color: #ffffff;
}

.busyCell a:hover {
	color: #ff0000;
}

.dayLabel {
	width: 100%;
	padding-top: 1px;
	float: right;
	text-align: right;
}

.calendarEvent {
	font-size: 8pt;
	
	text-align: right;
}

#navigationLinks {
	width: 723px;
	margin-left: auto;
	margin-right: auto;
	height: 1.5em;
	border-collapse: collapse;
}

.previousLink {
	float: left;
}

.nextLink {
	float:right;
}