<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
  <add name="TFS.OpCenter.Properties.Settings.OpCenterDataConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=tfs_opcenter;Integrated Security=True" />
 </connectionStrings>
	<SubSonicService defaultProvider="OpCenter">
		<providers>
			<clear/>
			<add name="OpCenter" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="TFS.OpCenter.Properties.Settings.OpCenterDataConnectionString" generatedNamespace="TFS.OpCenter.Data"/>
		</providers>
	</SubSonicService>
</configuration>
