<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
    </configSections>
  
    <connectionStrings>
        <add name="TFS.Intranet.Properties.Settings.BillingConnectionString" connectionString="Data Source=localhost;Initial Catalog=tfs2_billing;Integrated Security=True"/>
    </connectionStrings>
    
    <SubSonicService defaultProvider="Billing">
      <providers>
        <clear/>
        <add name="Billing" type="SubSonic.SqlDataProvider, SubSonic" stripViewText="vw_" excludeTableList="schema_info, Tmp_Users" connectionStringName="TFS.Intranet.Properties.Settings.BillingConnectionString" generatedNamespace="TFS.Intranet.Data.Billing"/>
      </providers>
    </SubSonicService>
    

</configuration>
