/*html
{
	background: transparent;	
}

body
{
	background: #e4dac4;
	color: #543;	
	font-family: "Verdana" , "Trebuchet MS" , sans-serif;		
}

.content
{
	font-size: 93%;
	padding-top: 12px;
	margin-left: 240px;	
}*/

.warning
{
	color: red;
}

hr
{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*a
{
	color: #734D26;
}
a:hover
{
	color: #CC6600;
}*/

acronym
{
	text-decoration: underline;
}

/*p, cite, code, ul, table
{
	padding-top: 5px;
	padding-bottom: 5px;
}*/

ol, ul
{
	list-style-type: circle;
}

li
{
	margin-left: 18px;
}

code
{
	margin-bottom: 12px;
	padding: 8px 10px;
	background: #FFE;
	border: 1px solid #EED;
	border-left: 6px solid #938262;
	color: #554;
	display: block;
	white-space: pre;
}

.header-main
{
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
}

.header-sub
{
	margin-top: 7px;
	font-size: 1.3em;
	font-weight: bold;
}

.urgent
{
	color: red;
	font-weight: bold;
}
