<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
    </configSections>
  
    <connectionStrings>
        <add name="TFS.OpCenter.Properties.Settings.OpCenterDataConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=tfs_opcenter;Integrated Security=True" />
        <add name="TFS.Intranet.Properties.Settings.BillingConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=tfs2_billing;Integrated Security=True" />
        <add name="TFS.Properties.Settings.BillingConnectionString" connectionString="Data Source=localhost;Initial Catalog=tfs2_billing;Integrated Security=True" />
        <add name="TFS.Properties.Settings.OpCenterDataConnectionString"
            connectionString="Data Source=tfs_opcenter;Initial Catalog=tfs2_scheduling;Integrated Security=True" />
        <add name="TFS.Properties.Settings.ActiveDirectoryConnString"
            connectionString="LDAP://DC=tfs2,DC=local" />
    </connectionStrings>
    
    <SubSonicService defaultProvider="Billing">
      <providers>
        <clear/>
        <add name="Billing" type="SubSonic.SqlDataProvider, SubSonic" stripViewText="vw_" excludeTableList="schema_info, Tmp_Users" connectionStringName="TFS.Intranet.Properties.Settings.BillingConnectionString" generatedNamespace="TFS.Intranet.Data.Billing"/>
        <add name="OpCenter" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="TFS.OpCenter.Properties.Settings.OpCenterDataConnectionString" generatedNamespace="TFS.OpCenter.Data"/>
      </providers>
    </SubSonicService>
    

</configuration>
