#frame
{		
		width:768px;
		margin-right:auto;
		margin-left:auto;
		margin-top:0px;
		margin-bottom:0px;
		padding:0px;
		text-align:left;
}

#header 
{
	margin:0px;
}

#contentframe
{
	display:table;
	margin-top:-5px;
	padding-top:5px;	
	padding-bottom:15px;
	width:768px;
	background-image: url("template/content_bg.gif");
	
}

#nav
{	
	float:left;
	width:211px;
}

#content
{	
	margin-left:211px;	
}

#text
{
	padding-top: 10px;
	padding-right: 55px;
	padding-bottom: 10px;
	
}

#imagestrip
{
	float:right;
	margin-right: 50px;	
}

#imagestrip img
{
	display:block;
	margin-bottom: 10px;
	margin-left: 5px;
}

#footer
{
	clear:both;
	width:768px;
}