.list-table {
  margin-bottom: 5px;
  width: 100%;
  background: #fffde5;
  border-collapse: collapse;
  border: 2px solid #d3d9ce;
}
.list-table thead, .list-table thead th { text-align: left; }
.list-table thead tr:hover { background: #fffde5; }
.list-table thead a.sorted-up {
  background: URL(../images/icons/sort_up.gif) right no-repeat;
  padding-right: 10px;
}
.list-table thead a.sorted-down {
  background: URL(../images/icons/sort_down.gif) right no-repeat;
  padding-right: 10px;
}
.list-table tr:hover { background-color: #e2fce2; }
.list-table td {
  border-bottom: 2px solid #d3d9ce;
  border-left: 0px solid #d3d9ce;
  border-right: 0px solid #d3d9ce;
  padding: 3px;
  border-collapse: collapse;
}
.list-table th {
  border-bottom: 2px solid #d3d9ce;
  border-left: 0px solid #d3d9ce;
  border-right: 0px solid #d3d9ce;
  padding: 3px;
  border-collapse: collapse;
}
.list-table-pager {
  padding-bottom: 5px;
  font-size: 1em;
  text-align: right;
}
.list-table-pager span { display: inline-block; }
.list-table-pager select {
  margin-top: 12px;
  font-size: 1em;
}
