body 
{
	margin-top: 0px;
	background-color: #D6D6D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


#css_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: left;
}

#css_text a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #2A5400;
}

.bigger
{
	font-size: larger;
}

.floatingimage
{
	clear:right;
	float:right;
	border-width: 0;
}

#css_nav a 
{
	display:block;
	color:  #5E5E5E;
	text-decoration: none;
	font-family: Franklin Gothic Medium	;
	font-size: medium;
	height: 30px;
	padding-left: 48px;
	margin-left: 16px;
	padding-top: 6px;
	vertical-align: middle;	
	width: 126px;
	background-image: url("template/item.jpg");
	background-repeat: no-repeat;
	background-position: 1.45em center;
}

#css_nav a:hover
{
	color: #2A5400;
	
	border-color: #2A5400;
	border-width: 1px;
	border-style: solid;
	padding-left: 47px;
	height: 28px;
	padding-top: 5px;
	
	background-color: White;
	background-image: url("template/item_hover.jpg");

}